.chatbot {
  /* background-image: url(chatbot_bg.png); */
  min-height: 500px;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  max-height: 500px; /* Set maximum height to 800px */
}


.chatbot-container {
  min-height: 60px;
  max-height: 50px;
  max-width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  text-align: left;
}

.chatbot-container.query-submitted .chat-history {
  /* margin-bottom: 5px; */
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(220, 220, 220, 0.1)
  );
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-entry {
  margin-bottom: 10px;
}

.user-message {
  color: #675055;
  margin-bottom: 10px;
  font-size: 16px;
}

.bot-message {
  color: #535878;
  font-size: 16px;
  overflow: hidden; /* Hide overflow to create a typing effect */
  animation: typing 1s steps(40, end); /* Typing animation */
  margin-bottom: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.user-input-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
  position: bottom;
  width: 100%;
}

.user-input {
  flex-grow: 15;
  font-size: 16px;
  padding: 5px;
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd; /* Border color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove default outline */
}

.user-input:focus {
  border: 1px solid #cea0aa; /* Green border on focus */
}

.user-input::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #aaa; /* Light gray placeholder text color */
  font-size: 12px;
}

/* Additional styles for modern look */
.user-input:focus::placeholder {
  color: #666; /* Darker gray on focus */
}

.ask-button {
  background-color: #535878 ;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border-radius: 7px;
  text-transform: none;
  display: block;
  border: 2px solid transparent;
  max-height:6vh;
  margin-left:2vh;
  margin-top:12vh;
}

.ask-button:hover {
  background-color: #fff;
  color: #233326;
  border-color: #233326;
}

.ask-button:disabled {
  background-color: #ddd; /* Light gray for disabled state */
  color: #aaa; /* Light gray text color for disabled state */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.heading {
  font-size: 24px;
  text-align: justify;
  margin-bottom: 40px;
}
